MONGODB_URI = mongodb+srv://jivanveda:Krist0099@aushadhlife.8dqjbse.mongodb.net/nutrakaa?retryWrites=true&w=majority&appName=Aushadhlife
ADMIN_USER  = admin
ADMIN_PASS  = nutrakaa@123
PORT        = 5000
META_PIXEL_ID = 1167642784828537
